@import "../../styles/_global.scss";

.containerHeader{
  width: 100vw;
  display: grid;
  background-color: $color-primary;
  grid-template-columns: 300px auto 450px;
  gap: 20px;
  //position: fixed;
  //z-index: 0;
  .navBar {
    height: 50%;
    align-self: flex-end;
    margin-bottom: 25px;
  }
  .navBar ul {
    list-style: none;
    margin: 0;
  }
  .navBar li {
    display: inline-block;
    margin: 10px 20px 20px;
    align-content: center;
    padding-top: 10px;
  }
  .navBar Button {
    font-size: 1.3rem;
    cursor: pointer;
    font-family: $font_primary;
  }
  .div_logo img {
    height: 80%;
    width: 70%;
  }
  .div_logo {
    width: 300px;
    height: 170px;
    justify-self: center;
    margin-left: 100px;
  }
  .div_icon_header {
    height: 50%;
    align-self: flex-end;
    margin-bottom: 25px;
  }
  .icon {
    font-size: 25px;
    margin: 20px;
  }
}
