@import "../../../styles/_global.scss";

.logo_img {
  width: 100px;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.div_opt {
  height: 90%;
  width: 100%;
  background-color: #035bf9;
}
.div_header {
  margin-bottom: 110px;
}
.header-not-visible {
  display: none;
}
