$color-primary: #035bf9;
$color-secondary: #ffe26b;
$color-three: #08adff;
$color-four: #08feff;
$color-five: #ffaf93;
$font-body: #efefef;

$font_primary : 'Poppins', sans-serif;

body {
    margin: 0;
    padding: 0;
    background-color: $font-body;
    overflow-x: hidden;
}




